[submodule "third-party/pbcopper"]
	path = third-party/pbcopper
	url = https://github.com/PacificBiosciences/pbcopper.git
	branch = master
[submodule "third-party/pbbam"]
	path = third-party/pbbam
	url = https://github.com/PacificBiosciences/pbbam.git
	branch = master
